rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // School Management system rules
    // Read and write permitted for authenticated school staff / admin members and demo users
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
