@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  header,
  nav,
  footer {
    display: none !important;
  }
}
